@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Roboto Mono", monospace;
}
nav {
  text-align: center;
}
nav button {
  padding: 1%;
  border-radius: 10px;
  margin: 10px 10%;
}
.btn1 {
  background-color: #ff764e;
}
.btn2 {
  background-color: #5ed3eb;
}
.btn3 {
  background-color: #ffcd69;
}

header {
  display: inline-block;
  width: 100%;

  height: 300px;
}
header img {
  display: inline-block;
  border-radius: 50%;
  width: 20%;
  margin-left: 5%;
}
header .headtxt {
  display: inline-block;
  text-align: center;

  vertical-align: top;
  margin-top: 30px;
}
h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-family: "Chelsea Market", cursive;
  font-size: 50px;
}
header .headtxt p {
  width: 50%;
  text-align: center;

  margin: auto;
}
nav {
  text-align: center;
}
nav button {
  padding: 1%;
  border-radius: 10px;
  margin: 10px 10%;
}

#sec1 {
  background-color: #ddb9a3;
  margin: 0 30px 0 30px;
  padding: 10px 20px 10px 20px;
  color: white;
}

#sec2 {
  width: 50%;
  margin: 0 25%;
  box-sizing: border-box;
  max-width: 100%;
}
#sec2 img {
  width: 25%;
  height: 25%;
  vertical-align: center;
}

#sec3 {
  width: 50%;
  margin: 0 25%;
  box-sizing: border-box;
  max-width: 100%;
}
span {font-weight:500px;}
#sec3 img {
  width: 25%;
  height: 25%;
  vertical-align: center;
}

#foot {
 box-sizing:borderbox;
 max-width:100%;
 max-height: 30%;
}
